.BlogCard-container {
  padding: 12vh 0;
}

.BlogCard-container .body-heading {
  font-weight: 900;
  font-size: 50px;
}

.BlogCard-container .body-paragraph {
  margin-top: 15px;
  margin-bottom: 2rem;
}

.BlogCard-container .anchor {
  text-decoration: underline;
  cursor: pointer;
  transition: .3s;
  display: inline-block;
}

.BlogCard-container .title {
  /* font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px; */
  font-size: 30px;
  text-align: left;
}

.date {
  font-size: 14px;
  margin-top: 3px;
}

.secondary-card {}

.image-of-secondoryCard img {
  max-width: 100%;
}

.MainCard .blogs-article-icon {
  width: 20px;
  height: 20px;
}

.MainCard .span-line {}

@media (max-width: 1280px) {
  .BlogCard-container .body-heading {
    font-weight: 900;
    font-size: 40px;
  }

  .BlogCard-container .title {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .BlogCard-container .body-heading {
    font-weight: 900;
    font-size: 32px;
  }

  .BlogCard-container .title {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .BlogCard-container .body-heading {
    font-size: 36px;
  }

  .BlogCard-container .MainCard {
    padding: 8vh 0vh;
  }

  .BlogCard-container .title {
    font-size: 18px;
  }

  .BlogCard-container .body-paragraph {
    margin-top: 10px;
    margin-bottom: 1.5rem;
  }

  .date {
    font-size: 12px;
  }

  .secondary-card-div {
    justify-content: center;
    align-items: center;
  }

  .MainCard .span-line {}

  .design-date-content {
    padding: 2vh 0vh;
  }

}

@media (max-width: 480px) {
  .BlogCard-container {
    padding: 8vh 0;
  }

  .BlogCard-container .body-heading {
    font-size: 28px;
  }

  .BlogCard-container .title {
    font-size: 16px;
  }

  .BlogCard-container .body-paragraph {
    margin-top: 8px;
    margin-bottom: 1rem;
  }

  .date {
    font-size: 10px;
  }
}