.OurTeam-container {
    height: auto;
}

.OurTeam-container .team-card {
    padding: 15px;
    margin-top: 15px;
}

@media (max-width: 991px) {
    .OurTeam-container .team-card {
        margin-top: 30px;
    }
   
}

@media (max-width: 767px) {
    .OurTeam-container .team-card {
        padding: 10px;
    }
    

    .OurTeam-container .team-card h5 {
        font-size: 1.4rem;
    }

    .OurTeam-container .team-card p {
        font-size: 0.9rem;
    }

    .OurTeam-container .text-content {
        text-align: center;
    }

    .OurTeam-container .body-heading {
        margin-top: 12px;
    }
}