.ServicesInnerHero-container {
    /* height: 100vh; */
}

.ServicesInnerHero-container .serviceinner-content{
    padding: 15vh 0vh;
}

.ServicesInnerHero-container .body-heading {
    font-size: 55px; 
    font-weight: 700;
    padding-bottom: 10px;
}

.ServicesInnerHero-container .body-paragraph {
    line-height: 1.8; 
    width: 75%;

}

.ServicesInnerHero-container .services-inner-hero-img {
    /* max-height: 60%; 
    width: auto;  */
}

.ServicesInnerHero-container .serviceinner-content {
 
}

.ServicesInnerHero-container .img-container {
  
}


@media (max-width: 762px) {
    .ServicesInnerHero-container {
       padding: 4vh 0vh;
    }
    .ServicesInnerHero-container .body-heading {
        font-size: 32px; 
    }
    .ServicesInnerHero-container .body-paragraph{
        width: 99%;
    }

    .ServicesInnerHero-container .services-inner-hero-img {
        margin-top: 30px;
    }

    .ServicesInnerHero-container .serviceinner-content {
        margin-bottom: 30px; 
    }
}


