.Admin-screen-main {
  text-align: center;
  position: relative;
  background-image: url('../../public/images/creatives/portal-bg.jpg');
  background-size: cover;
  background-position: center;
}

.Admin-screen-main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}

.Admin-screen-main * {
  position: relative;
  z-index: 2;
}

.admin-screen .h1_main{
  color: #ea3317;
  text-align: start;
}

.Admin-screen-main .h2_main {
  color: white;
}

.Admin-screen-main .h3_main {
  text-decoration: none;
  font-size: 18px;
}


.Admin-screen-main .btn-red{
  font-size: 14px;
  padding: 8px 50px;
}

.Admin-screen-main .heading_capital {
  color: white;
}
