.TrustedPartner-container
{
    background: radial-gradient(circle at 100% 100%, rgba(222, 34, 17, 0.457) 10%, #e8391a00 45%);
    background-color: black;
}

.TrustedPartner-container .body-heading{
    font-size: 48px;
}

.TrustedPartner-container .partner-logo-carasoul
{
    background-color:  hsla(0, 0%, 32%, 0.5);
    border-radius: 20px;
    padding: 28px;
    height: 130px;
}

.TrustedPartner-container .swiper-slide
{
    text-align: center;
}

.TrustedPartner-container .icons
{
    width: 60%;

}