.HomeHero-container {
    height: 100vh;
    min-height: auto;
    position: relative;
}

.HomeHero-container .text-content {
    text-align: left;
    padding-bottom: 180px;
}

.HomeHero-container .text-content .body-heading {
    text-align: left;
    font-size: 56px;
    font-weight: 800;
}

.HomeHero-container .text-content .line-break {
    display: block;
}

.HomeHero-container .text-content .body-paragraph {
    line-height: 1.9;
}

.HomeHero-container .head-h1 {
    font-size: 18px;
    color: #FFFFFF;
}

.HomeHero-container .home-hero-img {
    position: absolute;
    max-height: 130%;
    left: 57%;
    bottom: 1.5%;
    transform: translateX(-50%);
}

.HomeHero-container .img-1 {
    top: -80px;
    width: 80%;
}

.HomeHero-container .img-2 {
    position: relative;
    top: -145px;
}

.HomeHero-container .img-container {
    height: 550px;
    margin-left: 8%;
}

/* @media (max-width: 1366px) {
    .HomeHero-container .img-1 {
        top: -60px;
        width: 80%;
    }

    .HomeHero-container .img-2 {
        position: relative;
        top: -135px;
    }

    .HomeHero-container .text-content .body-heading {
        font-size: 50px;
    }
} */

@media (max-width: 1280px) {
    .HomeHero-container .img-1 {
        top: -35px;
        width: 80%;
    }

    .HomeHero-container .img-2 {
        position: relative;
        top: -55px;
    }

    .HomeHero-container .text-content .body-heading {
        font-size: 50px;
    }

    .HomeHero-container .home-hero-img {
        position: absolute;
        max-height: 95%;
        left: 57%;
        bottom: 1.5%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1024px) {
    .HomeHero-container .text-content .body-heading {
        font-size: 42px;
    }

    .HomeHero-container .home-hero-img {
        position: absolute;
        max-height: 90%;
        left: 57%;
        bottom: 1.5%;
        transform: translateX(-50%);
    }

    .HomeHero-container .img-1 {
        top: 30px;
        width: 80%;
    }

    .HomeHero-container .img-2 {
        position: relative;
        top: -0px;
    }

    .HomeHero-container .text-content {
        text-align: left;
        padding-bottom: 0px;
        padding: 4vh 0vh 6vh 0vh;
    }
}

@media (max-width: 768px) {
    .HomeHero-container {
        height: auto;
        padding: 20px;
    }

    .HomeHero-container .Hero-Text-Div {
        padding: 40px 20px;
    }

    .HomeHero-container .head-h1 {
        padding: 0px 12px;
    }

    .HomeHero-container .text-content {
        text-align: center;
        padding-bottom: 0px;
    }

    .HomeHero-container .text-content .body-heading {
        font-size: 32px;
    }

    .HomeHero-container .text-content .body-paragraph {
        font-size: 16px;
    }

    .HomeHero-container .home-hero-img {
        position: absolute;
        max-height: 100%;
        width: 100%;
        left: 50%;
        bottom: 40%;
        transform: translateX(-50%);
        margin-top: 25px;
    }

    .HomeHero-container .img-1 {
        top: -24px;
        width: 100%;
    }

    .HomeHero-container .img-container {
        height: auto;
        margin-left: 0;
        text-align: center;
    }

    .HomeHero-container .img-2 {
        position: relative;
        top: 21px;
        height: 480px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .HomeHero-container {
        height: 100vh;
    }
}

@media (max-width: 576px) {
    .HomeHero-container {
        height: auto;
        padding: 20px;
    }

    .HomeHero-container .text-content {
        text-align: center;
        padding-bottom: 0px;
    }

    .HomeHero-container .text-content .body-heading {
        /* font-size: 28px;  */
    }

    .HomeHero-container .text-content .body-paragraph {
        font-size: 14px;
    }

    .HomeHero-container .home-hero-img {
        position: absolute;
        max-height: 100%;
        width: 100%;
        left: 50%;
        bottom: 40%;
        transform: translateX(-50%);
        margin-top: 20px;
    }

    .HomeHero-container .img-1 {
        top: auto;
        width: 100%;
    }

    .HomeHero-container .img-container {
        height: auto;
        margin-left: 0;
        text-align: center;
    }

    .HomeHero-container .img-2 {
        position: relative;
        top: 21px;
        height: 490px;
    }
}

/* @media screen and (max-width: 1366px) and (max-height: 768px) {
    .HomeHero-container .home-hero-img {
        max-height: 120%;

    }

    .HomeHero-container .img-2 {
        position: relative;
        top: -95px;
    }

    .HomeHero-container .img-1 {
        top: -20px;
        width: 80%;
    }

    .HomeHero-container .text-content .body-heading {

        font-size: 45px;
        font-weight: 800;
    }
} */