.CaseStudiesHero-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.CaseStudiesHero-container .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.CaseStudiesHero-container .text-content {
    text-align: center;
    padding: 15vh 0vh;
}

.CaseStudiesHero-container .body-heading {
    font-size: 3rem;
    padding-top: 6rem;
}

.CaseStudiesHero-container .body-paragraphh {
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    max-width: 90%;
    text-align: center;
    margin: auto;
}

.CaseStudiesHero-container .color-yellow {
    color: #ffc107;
}

@media (max-width: 768px) {
    .CaseStudiesHero-container .body-heading {
        font-size: 2.5rem;
        padding-top: 5rem;
    }

    .CaseStudiesHero-container .body-paragraphh {
        font-size: 0.85rem;
        padding-top: 0.75rem;
        padding-bottom: 2.5rem;
    }

    .CaseStudiesHero-container .case-studies-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .CaseStudiesHero-container .body-paragraphh {
        /* font-size: 0.8rem;
        padding-top: 0.5rem;
        padding-bottom: 2rem; */
        padding: 0px 12px;
        color: #fff;
    }
}

@media (max-width: 576px) {
    .CaseStudiesHero-container .body-heading {
        font-size: 2rem;
        padding-top: 4rem;
    }

   
}
