.ServiceCard-container
{
    background-repeat: no-repeat!important;
    background: 
    radial-gradient(circle at 100% 25%, rgba(222, 34, 17, 0.457) 0%, #e8391a00 38%),
    radial-gradient(circle at 0% 75%,  rgba(722, 161, 17, 0.457) 0%, #e8b81a00 30%);
  background-color: black;
  background-size: 100% 150%; /* Adjust the height (second value) as needed */
  

    background-size:100% 100%;
  
}

.ServiceCard-container .body-heading {
    text-align: center;
    font-size: 40px;
}

.ServiceCard-container .body-paragraph{
    line-height: 2;
}

.ServiceCard-container .service-card 
{
    border-radius: 30px;
    padding: 40px;
    background-color:  hsla(0, 0%, 28%, 0.7);
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* height: 100%; */
}
.ServiceCard-container .service-card:hover
{
   
    background-color:  hsla(0, 0%, 28%, 1);
    transform: translateY(-20px);
}

.ServiceCard-container .service-card-anchor
{
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 0;
}


.ServiceCard-container .service-card-anchor img
{
    width: 40px;
    height: 22px;
}

@media(min-width:1300px)
{
    .ServiceCard-container .service-card 
    {
        padding: 60px;
    }
}