.case-study-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;
    padding-top: 45px;
}

.case-study-item:not(:last-child) {
    border-bottom: 1px solid rgb(59, 59, 59);
}

.case-study-item .image-container {
    flex: 1;
    max-width: 35%;
}

.case-study-item .image-container img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.case-study-item .text-container {
    flex: 2;
    max-width: 60%;
    text-align: left;
    word-wrap: break-word;
    margin-left: 80px;
}

.case-study-item .text-container h2 {
    font-size: 2.9rem;
    margin-bottom: 10px;
    color: white;
    padding-top: 1.5rem;
    font-weight: 800;
}

.case-study-item .text-container p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.case-study-item .case-study-link {
    font-size: 1rem;
    color: rgb(255, 153, 0);
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.case-study-item .case-study-link:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .case-study-item {
        flex-direction: column;
        align-items: center;
    }

    .case-study-item .image-container {
        max-width: 100%;
    }

    .case-study-item .text-container {
        max-width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-left: 0;
    }


    .case-study-item .text-container p,
    .case-study-item .case-study-link {
        margin-left: 0;
        padding-bottom: 12px;
    }

    .case-study-item .text-container h2 {
        font-size: 2rem;

    }

    .case-study-item:not(:last-child) {
        border-bottom: none;
    }

    .case-study-item .arrow-icon-caseStudy {
        width: 20px;
        height: 20px;
    }

}