.CardBox-container {
    padding: 4vh 4vh;
}



.LatestProject-container {

    padding: 7vh 0vh;
    background-repeat: no-repeat !important;
    background:
        radial-gradient(circle at 90% 80%, rgba(222, 34, 17, 0.3) 0%, #e8391a00 25%),
        radial-gradient(circle at 0% 0%, rgba(722, 161, 17, 0.457) 0%, #e8881a00 45%);
    background-color: black;
    background-size: 100% 100%;
    background-position: right center;

}

.LatestProject-container .body-paragraph {
    line-height: 2;
}

.LatestProject-container .CardBox-container {
    margin: 20px 0;
    background-color: hsla(0, 0%, 28%, 0.5);
    border-radius: 20px;
}

.LatestProject-container .project-main {
    /* padding-top: 130px; */

}

.LatestProject-container .anchor {
    cursor: pointer;
}





@media (max-width: 768px) {
    .LatestProject-container {
        padding: 10px;
        /* Reduce padding for smaller screens */
    }

    .LatestProject-container .project-main {
        padding-top: 0px;
    
    }

    .LatestProject-container .body-paragraph {
        font-size: 14px;
        /* Reduce font size for smaller screens */
        text-align: center;

    }

    .LatestProject-container .body-heading {
        text-align: center;
        margin-bottom: 0px;
       
    }

    .LatestProject-container .boxtext {
        font-size: 15px;
        text-align: center;
    }

    .LatestProject-container .anchor {
        text-align: center;
        cursor: pointer;
    }

    .LatestProject-container .text-content {
        margin-top: 14px;
    }

}