.header {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header-wrapper {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}

.header .header-wrapper .navbar .navbar-container {
  width: 100%;
}

.header .header-wrapper .navbar .navbar-container .nav-logo {
  max-width: 2000px;
  height: 17px;
}

.header .main-nav {
  list-style-type: none;
  margin: 0;
}

.header .nav-links,
.logo {
  text-decoration: none;
  /* color: #ffffff; */
  font-size: 15px;
  font-weight: 400;
}

.header .nav-links:active,
.logo:active {
  /* color: #ffffff; */
  font-size: 15px;
  font-weight: 400;
}

.header .nav-links:focus,
.logo:focus {
  color: #ffffff;
  font-weight: 500;
}

.header .main-nav li {
  text-align: center;
  color: #ffffff;
}

.header .nav-list .nav-links {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: .3s;
  font-family: "Manrope", sans-serif;
}

.header .nav-list .nav-links:hover {
  color: #c65c38;
}

.header .extras-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header .responsive-popup-menu {
  z-index: 1;
  position: absolute;
  top: 50px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.header .responsive-menu-btn img {
  width: 22px;
  height: 22px;
}

.header .extras-btns .blue-btn img {
  width: 17px;
  margin-right: 3px;
}

.header .resp-nav-list .nav-links {
  color: white;
}

.header .resp-nav-list li {
  list-style: none;
}

.header .resp-nav-list {
  width: 100%;
}

/* Dropdown css */
.navigation-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  cursor: pointer;
  color: white;
}

.dropdown-content {
  position: relative;
  top: 130%;
  left: -37%;
  background-color: white;
  min-width: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.dropdown-content .nav-links {
  color: black !important;
  list-style: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  ;
}

.dropdown-content .nav-links:hover {
  color: #c65c38 !important;
}

/* Custom CSS Animation */
.dropdown-content-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-content-enter-active {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.dropdown-content-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-content-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

.header .arrow-icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.header .rotate-icon {
  animation: rotate180 .3s forwards;
}

@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

/* Return to original position */
.header .rotate-back {
  animation: rotateBack .1s forwards;
}

@keyframes rotateBack {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.header .nav-list .none-delay {
  display: none;
}

.header .nav-list .open {
  display: flex;
}

/* Add to existing CSS */
.dropdown-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown-item .flexxbox {
  width: 2vh;
}

.dropdown-item .dropdown-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 275px;
  margin-top: 16px;
  height: 160px;
  display: none;
}

.dropdown-item:hover .dropdown-image {
  display: block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  width: auto;
  flex-direction: column;
}

.header .itemsof-dropdown {
  line-height: 1;
  display: inline;
}

.responsive-popup-menu .navbar-box {
  opacity: 1;
  list-style: none;
  font-family: 'Mulish', sans-serif;
  background: linear-gradient(to bottom, #252525, #454545);
  border: 2px solid;
  border-image: linear-gradient(to bottom, #252525, #454545);
  border-image-slice: 1;
  box-shadow: 0 3px 10px #4b4a4a;
  padding: 10px 18px 15px 18px;
  transition: .6s;
}

.responsive-popup-menu .resp-nav-list {
  padding: 8px 0px 8px 10px;
  border-bottom: 2px solid rgb(60, 60, 60);
  text-align: start;
}

.dropdown-mobile-topical-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  padding: 0px;
  margin: 0;
  
  
}

.dropdown-mobile-topical-content.open {
  max-height: 500px; 
  opacity: 1;
  background-color: #424140;
  border-radius: 10px;
  padding: 15px;
  gap: 10px;
  width: fit-content;

}





@media(max-width : 1200px) {
  /* .header .nav-list .nav-links
    {
        font-size: .7rem;
        margin-right: 5px;
        margin-left: 5px;
        font-weight: 500;
    }
    .header .arrow-icon{
      width: 10px;
      height: 10px;
      margin-left: 5px;
    } */
}


@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }

  .header .header-wrapper {
    margin-top: 1rem;
  }

  .header .main-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .header .nav-list {
    display: none;
  }

  .header .nav-list.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header .extras-btns {
    flex-direction: column;
    gap: 10px;
  }
}

/* Mobiles */
@media (max-width: 768px) {
  .header {
    padding: 0px;
  }

  .header .header-wrapper {
    margin-top: 0rem;
  }

  .header .header-wrapper .navbar .navbar-container {
    margin-top: 12px;
  }

  .header .main-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .header .nav-list {
    display: none;
  }

  .header .nav-list.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header .extras-btns {
    flex-direction: column;
    gap: 10px;
  }

  .header .responsive-menu-btn {
    display: block;
  }

  .header .nav-list {
    position: absolute;
    top: 60px;
    left: 0;
    background: white;
    width: 100%;
    padding: 1rem;
  }

  .header .nav-links {
    color: black;
  }
}