.blog-inner {
  min-height: 100vh;
  padding: 20px;
}

.blog-inner .content {
  margin-top: 5rem;
}

.blog-inner .case-contentbox {
  padding-top: 30px;
}

.blog-inner .content .case-head {
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0;
}

.blog-inner .content .case-para {
  color: grey;
  margin: 0;
}

.blog-inner .text-section {
  margin-top: 20px;
}

.blog-inner .bullet-text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.blog-inner .left-text {
  text-align: center;
  margin: 0 2rem;
  font-size: 1.25rem;
  color: whitesmoke;

}

.blog-inner .center-bullet {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.blog-inner .gradient-line {
  height: 3px;
  background: linear-gradient(to right, #d63108, #feb47b);
  margin-top: 10px;
  width: 100%;
  max-width: 260px;
  margin: 10px auto;
}

.blog-inner .image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4rem 0;
}

.blog-inner .image-section .small-image {
  max-width: 100%;
  height: auto;
}

.blog-inner .caseheading {
  margin: 0 1rem;
}

.blog-inner .caseparagraph {
  color: white;
  line-height: 1.5;
  margin: 1rem 0;
}

.blog-inner .case-h2 {
  color: white;
  margin-bottom: 1.5rem;
  font-weight: 900;
}

/* Adjustments for smaller screens */
@media (max-width: 767px) {
  .blog-inner .content {
    margin-top: 2rem;
  }

  .blog-inner .case-contentbox {
    padding-top: 20px;
  }

  .blog-inner .content .case-head {
    font-size: 1.75rem;
  }

  .blog-inner .caseparagraph {
    font-size: 1rem;
  }

  .blog-inner .left-text {
    margin-right: 1rem;
  }

  .blog-inner .gradient-line {
    /* margin-right: 1rem; */
  }

  .blog-inner .image-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .blog-inner .caseparagraph {
    padding-right: 0;
  }
}

/* Adjustments for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .blog-inner .content {
    margin-top: 3rem;
    padding: 15px;
    text-align: center;
  }

  .blog-inner .case-contentbox {
    padding-top: 40px;
  }

  .blog-inner .content .case-head {
    font-size: 2.25rem;
  }

  .blog-inner .left-text {
    margin-right: 3rem;
  }

  .blog-inner .gradient-line {
    margin-right: 3rem;
  }

  .blog-inner .image-section {
    margin-top: 4rem;
    margin-bottom: 4rem;


  }
}

/* Adjustments for larger screens */
@media (min-width: 992px) {
  .blog-inner .content {
    margin-top: 5rem;
  }

  .blog-inner .case-contentbox {
    padding-top: 60px;
  }

  .blog-inner .content .case-head {
    font-size: 3rem;
  }

  .blog-inner .left-text {
    margin-left: 32rem;
  }

  .blog-inner .gradient-line {
    margin-right: 1rem;
  }

  .blog-inner .image-section {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
