.scope-container {
    display: flex;
    align-items: center; 
    background-color: black;
    color: white;
    padding: 20px;
    height: 370px;
  }
  
  .heading {    
    font-size: 40px;
    font-weight: 900;
    margin-left: 145px;
  }
  
 .scope-container .content {
    padding-top: 20px;
    margin-left: 88px;
    line-height: 2.2;
  }
  @media only screen and (max-width: 768px) {
    .scope-container {
      flex-direction: column;
        height: auto; /* Allow the container's height to adjust based on content */
        padding: 4vh 0.5vh; /* Adjust padding for smaller screens */
        text-align: center;
    }

    .scope-container .heading {
        font-size: 30px;
        margin-left: 0px; 
    }

    .scope-container .content {
        margin-left: 0px; 
    }
}