.TextContent-container
{
    background-color: #101010;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}
.TextContent-container .imgg-style{
    width: 60vh;
    height: 35vh;
    margin-left: 36px;
}
.TextContent-container .list-bullet
{
    margin: 0;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .TextContent-container {
        padding-top: 3rem; /* Reduce top padding for smaller screens */
        padding-bottom: 3rem; /* Reduce bottom padding for smaller screens */
    }

    .TextContent-container .imgg-style {
        width: 100%; /* Make the image responsive */
        height: auto; /* Make the image responsive */
        margin-left: 0; /* Remove left margin for better alignment on mobile */
    }

    .TextContent-container .text-content {
        text-align: center; /* Center align text for smaller screens */
    }

    .TextContent-container .body-heading {
        font-size: 31px; /* Reduce font size for smaller screens */
        text-align: center;
    }
   

    .TextContent-container .body-paragraph {
        margin-bottom: 2rem; /* Reduce bottom margin for better spacing on mobile */
        font-size: 16px; /* Reduce font size for smaller screens */
        width: auto; /* Allow paragraph to take full width */
        max-width: none; /* Remove max-width for better responsiveness */
        text-align: center; /* Center align the text */
    }

    .TextContent-container .icon-list {
        flex-direction: start; /* Change flex-direction to column for better alignment on mobile */
        align-items: flex-start; /* Align items to start for better alignment on mobile */
    }

    .TextContent-container .list-bullet {
        margin-right: 0.5rem; /* Reduce right margin for better spacing on mobile */
    }

    .TextContent-container .genral-btn {
        width: 100%; /* Make button full width on mobile */
        margin-top: 1rem; /* Increase top margin for better spacing on mobile */
    }

    .TextContent-container .img-fluid {
        max-width: 100%; /* Make images responsive */
    }

    .TextContent-container .row {
        margin-left: 0; /* Remove left margin for better alignment on mobile */
        margin-right: 0; /* Remove right margin for better alignment on mobile */
    }
}